.git
.gitignore
__pycache__
*.pyc
.env
.venv
src/web/venv/
db.sqlite3
.DS_Store
data/
notebooks/
tests/
*.keras

src/*
!src/web/

src/web/*
!src/web/api/
!src/web/api/media/*
!src/web/requirements.txt
*.zip
aws/*
data/*

